* {
    box-sizing: border-box;
}
:root {
    --main-bg: #10375C;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn { 
    display: inline-block;
    --height: 60px;
    height: var(--height);
    min-width: 205px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    background: #2E80CE;
    line-height: var(--height);
    border-radius: 99px;
    font-weight: 400;
    font-size: 1.6rem;
}
.heading {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #10375C;
}
.desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;

}
/* Header */
.header {
    min-height: 100vh;
    background: var(--main-bg);
    padding-top: 30px;
    
}

.logo {
    position: relative;
    font-size: 1rem;
    display: flex;
}
.logo__circle::before ,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%; 
    
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}
.logo__circle::after {
    top: 1.1em;
    left: 1.1em;
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo__text {
    color: #FFFFFF;
    margin-left: 0.6em;
    text-align: right;
}
.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1em;

}
.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}
/* header-top */
.header-top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top.fixed {
    position: sticky;
    top: 10px;
    z-index: 1;
}
.header-top .navbar .item {
    padding: 8px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #C9D2DA;
}
.header-top .active .item {
    font-weight: 300;
    font-size: 1.6rem;
    color: #C9D2DA;
}
.navbar .item:hover {
    text-shadow: 1px 0 0 currentColor;
}
.nav__active {
    text-shadow: 1px 0 0 currentColor;
}
.nav__active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 50%;
}.header-top .active {
      display: flex;
}
.header-top .active a {
    padding: 0 28px;
}
.active__login {
    line-height: 45px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #C9D2DA;
}
.active__signup {
   min-width: 104px;
   --height: 45px;
    line-height: 45px;
}
   
/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    gap: 113px;
    align-items: center;
}
.hero__content {
    width: 45%;
}
.hero__content .hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.hero__content .hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}
.hero__content .hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__content .hero__row .phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}
.hero__media {
    width: 46%; 
}
.hero__media .hero__images{
    display: flex;
    position: relative;
}
.hero__media .hero__images .hero__img1 {  
    width: 330px;
    height: 540px;
    background: url(image.png);
    border-radius: 6px;
    z-index: 1;
}
.hero__media .hero__images .hero__img2 {
    top: 65px;
    bottom: 65px;
    right: 0;
    position: absolute;
    width: 210px;
    height: 410px;
    background: url(image.png);
    border-radius: 0px 6px 6px 0px;
}

/* Service */
.service {
    margin-top: 170px;
}
.section-heading {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}
.section-desc {
    width: 468px;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    margin: 0 auto;
    text-align: center;
    color: #575F66;

}
.service-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item {
    display: flex;
    gap: 19px;
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 22px;
    transition: 0.25s;
}
.service-item:hover {  
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.service-item:hover .service-item__icon-wrap {
    background: #2E80CE;
    
}
.service-item:hover .service-item__icon{
    color: #fff;
}
.service-item__icon-wrap {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: 0.25s;
}
.service-item__icon {
    color: #10375C;
    transition: 0.25s;

}
.service__list .service-item__body .service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #10375C;
}
.service__list .service-item__body .service-item__desc {
    margin-top: 8px;
    width: 351px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}
.service-btn {
    margin-top: 55px;
    text-align: center;
}
/* Work */
.work {
    margin-top: 170px;
    background: #F6FBFF;
    padding: 100px 0;
}
.work_desc {
    width: 468px;
}
.work-list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.work-list .work-item {
    padding: 43px;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}
.work-list .work-item:hover {
    transform: translateY(-16px);
    border: 16px solid #2E80CE;
}
.work-item_heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    
}
.work-item_desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}
.work-item-more {
    display: inline-block;
    margin-top:18px;
    color: #2E80CE;
    font-size: 1.6rem;
    line-height: 28px;
}
/* Feature */
.feature {
    margin-top: 170px;
    padding-bottom: 85px;  
}
.body{
    display: flex;
    justify-content: space-between;
    height: 491px;
}
.feature-images {
    position: relative;
    
}
.feature-images__img1 {
    width: 512px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), 
    lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0px 14px 2
}
.feature-images__img2{
    position: absolute;
    width: 332px;
    height: 370px;
    flex-shrink: 0;
    top: 121px;
    right: -58px;
    border-radius: 6px;
    background: url(<path-to-image>),
     lightgray 50% / cover no-repeat;
}
.feature-content {
    margin-top: 100px;
    margin-left: 130px;
}
.feature-content__heading {
    width: 470px;
}
.feature-content__desc {
    width: 468px;
}
.feature-content__btn {
    display: inline-block;
    margin-top: 38px;
}
/* Member */
.members {
    padding: 85px 0;
}
.member-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__cta {
    margin-top: 38px;
}
.member-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
    overflow: hidden;
}
.member-item__thumb {
    display: block;  
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}
.member-item__name-dr {
    font-weight: 500;
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
}
.member-item__infor {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
}
.member__control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}
.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline: none;
    color: #575F66;
    background: #fff;
    transition: .25s;
}
.member__control-btn:hover {
    border: 1px solid #2E80CE;
    background: #2E80CE;
    color: #fff;
    cursor: pointer;
}
.member__control-next-icon {
    rotate: 180deg;
}
/* Install */
.install {
    padding-top: 170px;
}
.install__inner {
    height: 427px;
    display: flex; 
    align-items: center;
    border-radius: 4px;
    background: #2E80CE;
}
.install__inner-img {
    display: block;
    margin-left: 70px;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}
.install__content {
    margin-left: 130px;
}
.install__content-heading {
    width: 489px;
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}
.install__content-desc {
    margin-top: 18px;
    width: 586px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;

}
.install__row {
    display: flex;
    margin-top: 38px;
    column-gap: 28px;
}
.install__btn {
    outline: none;
    border: none;
    background: transparent;
}